[submodule "submodules/cside_dotfiles"]
	path = submodules/cside_dotfiles
	url = https://github.com/Cside/dotfiles.git
[submodule "submodules/tpm"]
	path = submodules/tpm
	url = https://github.com/tmux-plugins/tpm
